.loader-container {
    height: 80px;
    min-width: 290px;
    background-color: var(--color-dark-blue);
    margin: -10px auto 30px auto;
    border-radius: 5px;
    overflow: hidden;
}

.stripes {
    height: 2px;
    background-image: linear-gradient(to right, #fff 100%, #fff 100%);
    background-repeat: repeat-x;
    background-size: 1vmin 1vmin;
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    background-position: 100% 100%;
    transform: translate(-50%, -50%);
}

.stripes::after {
    content: 'PROCESSING';
    font-size: 10px;
    color: var(--color-dark-black);
    font-weight: 700;
    letter-spacing: 15px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-dark-blue);
    padding: 2px 5px;
    color: #fff;
    width: max-content;
}

.car {
    width: 40px;
    height: 20px;
    background-color: yellow;
    position: relative;
    transform: translate(-20%, -50%);
    left: 10%;
    top: 20%;
    animation: carMove 3s linear 0s infinite;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 4px;
}

.c2 {
    background-color: rgb(0, 255, 4);
    top: 50%;
    animation: carMoveOpp 3s linear 1s infinite;
    left: -14%;
} 


.car::after {
    content: '';
    width: 20px;
    height: 15px;
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
}

@keyframes carMove {
    0% {
        transform: translate(-100vw, -50%);
    }
    100% {
        transform: translate(100vw, -50%);
    }
}

@keyframes carMoveOpp {
    0% {
        transform: translate(100vw, -50%);
    }
    100% {
        transform: translate(-100vmin, -50%);
    }
}